<!-- Bootstrap design -->
<!-- Typed view -->
@model LancheListViewModel

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

@foreach (var lanche in Model.Lanches)
{
    // Define / Render PartialView
    // @Html.Partial("_LanchesResumo", lanche);
    <partial name="_LanchesResumo" for="@lanche"/>
}